# Configurações do Banco de Dados (Supabase ou Local)
DB_URL=jdbc:postgresql://aws-1-us-east-2.pooler.supabase.com:5432/postgres?prepareThreshold=0
DB_USER=postgres.nrexuvargblspsnrpkld
DB_PASS=Chbmkt#2024
DB_DDL_AUTO=none
CLOUDFLARE_TUNNEL_TOKEN=seu_token_aqui

